<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">Film Club</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="collapsibleNavbar">
<!--        <script id="menu-template" type="text/x-handlebars-template">-->
                <ul class="navbar-nav">
                    {{#each menu}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{link}}.html">{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
<!--&lt;!&ndash;        //      </script>&ndash;&gt;-->
<!--        // <span id="target"></span>-->
    </div>
</nav>